<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>846457C21C1F5B19000DFDB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846457DB1C1F5B19000DFDB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846457E61C1F5B19000DFDB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
